<div
  class="bg-white max-[880px]:bg-transparent py-4 rounded-md w-[240px] min-w-[240px] max-[800px]:w-full"
>
  <div class="px-4">
    <app-category />
  </div>

  <div class="my-5 w-full h-[2px] bg-gray-200"></div>

  <div class="px-4">
    <app-price />
  </div>

  <div class="my-5 w-full h-[2px] bg-gray-200"></div>

  <div class="px-4">
    <app-percentage />
  </div>

  <div class="my-5 w-full h-[2px] bg-gray-200"></div>

  <div class="px-4">
    <app-location />
  </div>

  <button
    class="mt-6 p-2 rounded-md bg-main_purple text-semibold text-white"
    (click)="onClearFilters()"
  >
    Clear filters
  </button>
</div>
