<div class="w-full">
  <h3 class="mb-2 font-medium text-subtitle">Price</h3>

  <div class="w-full mt-4">
    <p-slider
      [ngModel]="rangeValues()"
      (ngModelChange)="onRangeValuesChange($event)"
      [min]="1000"
      [max]="100000"
      [step]="500"
      [range]="true"
      styleClass="w-10rem"
      class="custom-slider"
    />
    <div class="flex items-center gap-3 mt-6 w-full">
      <input
        class="bg-transparent focus:outline-none border border-main_gray rounded p-[6px] w-1/3 min-w-[80px] flex-1"
        type="number"
        [ngModel]="rangeValues()[0]"
        (ngModelChange)="onMinInputChange($event)"
      />
      <div class="font-bold text-xl">-</div>
      <input
        class="bg-transparent focus:outline-none border border-main_gray rounded p-[6px] w-1/3 min-w-[80px] flex-1"
        type="number"
        [ngModel]="rangeValues()[1]"
        (ngModelChange)="onMaxInputChange($event)"
      />
    </div>
  </div>
</div>
