<div class="w-full">
  <h3 class="mb-2 font-medium text-gray-500">Category</h3>

  <div class="space-y-2">
    @for (cat of categories() | keyvalue; track cat.key) {
      <div class="flex items-center">
        <p-radioButton
          name="category"
          [value]="cat.value"
          [ngModel]="selectedCategory"
          (ngModelChange)="onSelectCategory($event)"
          [inputId]="cat.key"
          styleClass="filter-input"
        />
        <label [for]="cat.key" class="ml-2 font-semibold">
          {{ cat.key }}
        </label>
      </div>
    }
  </div>
</div>
