<main class="bg-white py-[100px]">
  <div
    class="max-w-[1400px] w-[90%] mx-auto bg-white rounded-2xl shadow-md p-6 min-[550px]:p-10"
  >
    <div class="grid md:grid-cols-2 gap-8">
      <!-- Left Column -->
      <div class="space-y-6">
        <!-- Profile Images -->
        <div class="flex -space-x-4">
          <img src="assets/Frame-18.png" alt="" />
        </div>

        <h2 class="text-3xl font-bold text-title">
          Don't quite find what you want?
        </h2>
        <p class="text-[#424242] font-medium">
          Let us know and we will make it available for you in a jiffy.
        </p>
      </div>

      <form class="space-y-4">
        <div class="grid md:grid-cols-2 gap-4">
          <div>
            <label
              for="name"
              class="block text-sm text-subtitle font-medium mb-1"
              >Your name</label
            >
            <input
              type="text"
              id="name"
              placeholder="Enter your name"
              class="w-full px-4 py-2 border bg-transparent border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-light_purple focus:border-transparent"
            />
          </div>

          <div>
            <label
              for="email"
              class="block text-sm text-subtitle font-medium mb-1"
              >Email</label
            >
            <input
              type="email"
              id="email"
              placeholder="Enter your email"
              class="w-full px-4 py-2 border bg-transparent border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-light_purple focus:border-transparent"
            />
          </div>
        </div>

        <div class="grid md:grid-cols-2 gap-4">
          <div>
            <label
              for="product"
              class="block text-sm text-subtitle font-medium mb-1"
              >Product name</label
            >
            <input
              type="text"
              id="product"
              placeholder="Enter name of product"
              class="w-full px-4 py-2 border bg-transparent border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-light_purple focus:border-transparent"
            />
          </div>

          <div>
            <label
              for="vendor"
              class="block text-sm text-subtitle font-medium mb-1"
              >Vendor name</label
            >
            <input
              type="text"
              id="vendor"
              placeholder="e.g. Jumia, Airpeace, Spotify"
              class="w-full px-4 py-2 border bg-transparent border-gray-200 rounded-lg focus:outline-none focus:ring-2 focus:ring-light_purple focus:border-transparent"
            />
          </div>
        </div>

        <button
          type="submit"
          class="w-full bg-main_purple text-white py-3 px-4 rounded-lg transition-colors flex items-center justify-center space-x-2 font-medium"
        >
          <span>Submit</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 hala"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </form>
    </div>
  </div>
</main>
