<div class="flex items-center justify-between gap-3 flex-wrap">
  <p class="text-sec_gray text-sm font-medium">
    {{ config()?.currentPage! | itemsShowing }} –
    {{ config()?.currentPage! | itemsShowing: config()?.totalItems }}
    of {{ totalPages() }} pages
  </p>

  <div class="hidden min-[450px]:block">
    <pagination-template
      #p="paginationApi"
      [id]="config()?.id!"
      (pageChange)="pageChanged($event)"
    >
      <div class="custom-pagination flex items-center space-x-8">
        <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
          @if (!p.isFirstPage()) {
            <a (click)="p.previous()" class="cursor-pointer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="16"
                viewBox="0 0 10 16"
                fill="none"
                class="eg-ol"
              >
                <path
                  d="M1.25 8L8.75 15.5"
                  stroke="#616161"
                  stroke-linecap="round"
                />
                <path
                  d="M1.25 8L8.75 0.5"
                  stroke="#616161"
                  stroke-linecap="round"
                />
              </svg>
            </a>
          }
        </div>

        @for (page of p.pages; track $index) {
          <div [class.current]="p.getCurrent() === page.value">
            @if (p.getCurrent() !== page.value) {
              <a (click)="p.setCurrent(page.value)" class="cursor-pointer">
                <span class="text-subtitle font-semibold">{{
                  page.label
                }}</span>
              </a>
            }

            @if (p.getCurrent() === page.value) {
              <div class="cursor-pointer">
                <span
                  class="text-title border-b-[2px] font-bold border-main_purple pb-[6px] px-2"
                  >{{ page.label }}</span
                >
              </div>
            }
          </div>
        }

        <div class="pagination-next" [class.disabled]="p.isLastPage()">
          @if (!p.isLastPage()) {
            <a (click)="p.next()" class="cursor-pointer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="10"
                height="16"
                viewBox="0 0 10 16"
                fill="none"
                class="rotate-180 rl-ol"
              >
                <path
                  d="M1.25 8L8.75 15.5"
                  stroke="#616161"
                  stroke-linecap="round"
                />
                <path
                  d="M1.25 8L8.75 0.5"
                  stroke="#616161"
                  stroke-linecap="round"
                />
              </svg>
            </a>
          }
        </div>
      </div>
    </pagination-template>
  </div>

  <div class="flex items-center space-x-6 min-[450px]:hidden">
    <button
      class="h-8 w-8 flex items-center border-0 outline-0 justify-center cursor-pointer disabled:opacity-30"
      [disabled]="config()?.currentPage! === 1"
      (click)="pageChanged(config()?.currentPage! - 1)"
      [attr.aria-label]="'Previous page'"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="16"
        viewBox="0 0 10 16"
        fill="none"
        class="eg-ol"
      >
        <path d="M1.25 8L8.75 15.5" stroke="#616161" stroke-linecap="round" />
        <path d="M1.25 8L8.75 0.5" stroke="#616161" stroke-linecap="round" />
      </svg>
    </button>

    <div
      class="flex items-center justify-center space-x-2 text-title font-medium"
    >
      <span class="">{{ config()?.currentPage! }}</span>
      <span>of</span>
      <span>{{ totalPages() }}</span>
    </div>

    <button
      class="h-8 w-8 flex items-center border-0 outline-0 justify-center cursor-pointer disabled:opacity-30"
      [disabled]="config()?.currentPage! === totalPages()"
      (click)="pageChanged(config()?.currentPage! + 1)"
      [attr.aria-label]="'Next page'"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="10"
        height="16"
        viewBox="0 0 10 16"
        fill="none"
        class="rotate-180 rl-ol"
      >
        <path d="M1.25 8L8.75 15.5" stroke="#616161" stroke-linecap="round" />
        <path d="M1.25 8L8.75 0.5" stroke="#616161" stroke-linecap="round" />
      </svg>
    </button>
  </div>
</div>
