<div class="w-full">
  <h3 class="mb-2 font-medium text-subtitle">Location</h3>

  <div class="space-y-1 pl-2 max-h-[320px] overflow-y-auto">
    @for (location of locations(); track $index) {
      <div class="flex items-center">
        <p-radioButton
          name="location"
          [value]="location"
          [ngModel]="selectedLocation()"
          (ngModelChange)="onSelectLocation($event)"
          [inputId]="location"
          styleClass="filter-input"
          inputId="size_small"
          size="small"
        />
        <label
          [for]="location"
          class="ml-2 pt-[6px] font-semibold text-title break-all"
        >
          {{ location }}
        </label>
      </div>
    }
  </div>
</div>
